body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  
  /* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 25px 10px;
    z-index: 9999;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
  }
  
  .menu-toggle {
    display: none;
  }
  
  nav {
    display: flex;
    margin-right: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  main {
    padding: 20px;
    margin-top: 10vh;
  }
  
  .character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 28vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .character-card:hover {
    transform: translateY(-5px);
  }
  
  .character-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .episode-card,
  .news-card,
  .highlight-card {
    display: flex;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .episode-card:hover,
  .news-card:hover,
  .highlight-card:hover {
    transform: translateY(-5px);
  }
  
  .episode-thumbnail,
  .news-thumbnail,
  .highlight-thumbnail {
    width: 120px;
    height: 80px;
    background-color: #ccc;
    margin-right: 10px;
  }
  
  .episode-details,
  .news-details,
  .highlight-details {
    flex: 1;
  }
  
  .episode-details h3,
  .news-details h3,
  .highlight-details h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .episode-details p,
  .news-details p,
  .highlight-details p {
    margin: 0;
  }
  
  
/* Footer Styles */
footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.social-media a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #3b5998; /* Facebook Blue */
}

footer p {
  font-size: 14px;
}
  
  /* Media query for responsiveness */
  @media (max-width: 890px) {
    .menu-toggle {
      display: block;
      margin-right: 20px;
    }
  
    nav {
      display: none;
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav.open {
      display: flex;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  
    
  }
  
  @media (max-width: 480px) {
    .menu-toggle {
      display: block;
      color: #fff;
      font-size: 20px;
      border: none;
      background: none;
      cursor: pointer;
      padding-right: 20px;
    }
  
    .menu-toggle:focus {
      outline: none;
    }
  
    nav {
      display: none;
    }
  
    nav.open {
      display: block;
    }
  
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  
    .character-card{
      margin: 20px 8vw;
    }
  }

  